.title,p,h1,a{
    color: #dfe2d9;
    font-family:sans-serif;
   }
   
   .ml3{
       font-weight: 500;
       font-size: 2rem;
       margin-bottom: 0%;
   }
   
   h1{
       margin-top: 1em;
       font-weight: 900;
       font-size: 5rem;
   }
   
   
   /* body{
       background-color: #111315;
   } */
   
   body, nav{
       background: #111315;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #1b1d1f, #111315);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #1b1d1f, #111315); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
   
   .logoDau{
       max-width: 18em;
       margin-bottom: 2%;
       opacity: 90%;
       max-height: auto;
   }
   
   #suplog{
       font-weight: 100;
       font-size: 2em;
       margin-bottom: 1%;    
   }
   
   .sublog{
       font-weight: 100;
       font-size: 1em;
       margin-bottom: 0%;  
       opacity: 50%;
       font-style: italic;
   }
   
   .titlenav{
       font-weight: 900;
   }
   
   #randomImg{
       max-width: 10em;
       opacity:60%;
       max-height: auto;
   }
   
   